body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #f9f9fa;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Saira Semi Condensed', sans-serif;
}
body h1 {
  font-weight: bold;
  font-size: 48px;
  color: #673c90;
  text-align: center;
}
body main {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
body h2 {
  font-size: 16px;
  text-align: center;
}